:root {
    --checked: #2196F3;
    --upper-back: #2F303A;
    --transperent: rgba(255, 255, 255, 0.60);
    --project-black: #212121;
    --text: #757575;
    --lower-back: #F5F4FA;
}
body{
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-size:14px;
    line-height: 1.7;
    letter-spacing:0.48px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration:none;
}
.logo{
    font-size:26px;
    color:var(--checked);
    font-family: 'Raleway', serif;
    font-weight:700;
    letter-spacing:0.78px; 
}
.logo span{
    color:black;
}
.nav-list-link