:root {
    --checked: #2196F3;
    --upper-back: #2F303A;
    --transperent: rgba(255, 255, 255, 0.60);
    --project-black: #212121;
    --text: #757575;
    --lower-back: #F5F4FA;
}
body{
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-size:14px;
    line-height: 1.7;
    letter-spacing:0.48px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration:none;
}
.logo{
    font-size:26px;
    color:var(--checked);
    font-family: 'Raleway', serif;
    font-weight:700;
    letter-spacing:0.78px; 
    margin:24px 0 25px 215px;;
    
}
.header .logo span{
    color:black;
}
.footer .logo span{
    color:white;
}
.nav-list{
    margin-right:344px;
    margin-left:93px;
}
.nav-list-item{
    /* margin:32px 50px; */
    display: inline;
    margin:32px 50px;
}
.nav-list-link{
    color:var(--project-black);
    font-weight: 500;
    letter-spacing: 0.28px;
}
.nav-list-link:hover{
    color:var(--checked);
}
.header-link-contacts{
    color:var(--text);
    font-weight: 500;
    letter-spacing: 0.28px;
}
.header-link-contacts:hover{
    color:var(--checked);
}
.sect-ef-s{
    background-color: var(--upper-back);
    width:1600px;
    height:600px;
}
.sect-ef-s-title{
    color: white;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-align: center;
}
.section-ef-s-button{
    width:216px;
    height:50px;
    background-color:var(--checked);
    color:white;
    font-family:'Roboto', sans-serif;
    font-weight:700;
    line-height:1.87;
    font-size:16px;
    letter-spacing:0.96px;
    text-align: center;
    border: none;
}
.sec-benefits-list-title{
    color:var(--project-black);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.42px;
}
.sec-benefits-list-text{
    color: var(--text);
    letter-spacing: 0.42px;
}
.sec-tasks-title{
    color: var(--project-black);
    font-size: 36px;
    letter-spacing: 1.08px;
}
.article-team{
    width:1600px;
    height:648px;
    background-color:var(--lower-back);
}
.article-team-title{
    color:var(--project-black);
    font-size: 36px;
    letter-spacing: 1.08px;
    text-align: center;
}
.article-team-list-item{
    width:270px;
    height:368px;
    background-color: white;
    text-align: center;
}
.article-team-list-title{
    color: var(--project-black);
    font-size: 16px;
    font-weight: 500;
}
.article-team-list-text{
    color: var(--text);
    font-size: 16px;
}
.footer{
    width:1600px;
    height:252px;
    background-color: var(--upper-back);
}
.footer-text{
    color: white;
    letter-spacing: 0.42px;
}
.footer-link-contacts{
    color:var(--transperent);
    letter-spacing: 0.42px;
}
